<form [formGroup]="form">
<mat-toolbar color="primary">
  <span>{{ title }}</span>
    <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  
</mat-toolbar>
<agm-map [(latitude)]="lat" [(longitude)]="lng" [(zoom)]="zoom">
  <div *ngIf="showAirBnBs">
    <agm-marker *ngFor="let marker of airBnBMarkers" [iconUrl]="airbnbIcon" [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
  </div>
  <div *ngIf="showCrimes">
      <agm-marker *ngFor="let marker of ratMarkers" [iconUrl]="crimeIcon" [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
  </div>
  <div *ngIf="showRats">
    <agm-marker *ngFor="let marker of crimeMarkers" [iconUrl]="ratIcon" [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
  </div>
</agm-map>

<mat-card>
  <mat-card-title>Options</mat-card-title>
  <mat-grid-list cols="4" rowHeight="60px">
    <mat-grid-tile colspan="1">
      <mat-form-field>
        <mat-label>Borough</mat-label>
        <mat-select formControlName="boroughSelected">
          <mat-option *ngFor="let borough of boroughs" [value]="borough">
            {{borough}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-checkbox formControlName="showAirBnBs">AirBnBs</mat-checkbox>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-checkbox formControlName="showCrimes">Crimes</mat-checkbox>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-checkbox formControlName="showRats">Rats</mat-checkbox>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
</form>

<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> and <a href="https://www.flaticon.com/authors/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
